.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.text-header {
  width: 100%;
}

.body-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 10%;
  margin: auto;
}

.image-container {
  width: 400px;
  height: 400px;
  margin: 50px;
}

.image-rover {
  width: 100%;
}
